@model IEnumerable<uygulama1.Models.user_comment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.film_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_profile.user_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.film_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_profile.user_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.comment }) |
            @Html.ActionLink("Details", "Details", new { id=item.comment }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.comment })
        </td>
    </tr>
}

</table>
